.time {
  color: white;
}
.timer-container {
  background-color: rgb(243, 116, 116);
  height: 65%;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  margin: 0 auto;
}
